/* login.css */

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
} */

.a-body1 {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url(../../../public/images/Saudia-New-Livery-4.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

.container1 {
  position: relative;
  width: 400px;
  height: 440px;
  background: white;
  border: 2px solid white;
  border-radius: 20px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container1 .form-box1 {
  width: 100%;
  padding: 40px;
}

.form-box1 h1 {
  font-size: 2em;
  color: #269432;
  text-align: center;
}

.form-box1 .myinput1 {
  position: relative;
  width: 100%;
  height: 100%;
  border-bottom: 2px solid black;
  margin: 30px 0;
  background: transparent;
  outline: none;
  border-top: none;
  border-left: none;
  border-right: none;
}

.form-box1 .class-submit1 {
  width: 315px;
  height: 40px;
  background-color: #269432;
  color: white;
  font-weight: bold;
  outline: none;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.form-box1 .class-submit1:hover {
  background: #207a2b;
}

.container1 p span {
  font-weight: bold;
}

.container1 p {
  margin-top: 20px;
  border: 2px solid red;
  padding: 10px;
}
.error-message1 {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

@media screen and (max-width: 600px){
  .container1{
    width: 100%;
    height: 100vh;
    border-radius: 0px;
    box-shadow: 0 0 0 !important;
  }
  .class-submit1{
    width: 100% !important;
  }
  .myinput1{
    font-size: 16px !important;
    padding-bottom: 5px !important;
  }
}